.learnmore-section-one {
  color: #000000;
  text-align: center;
  margin: 100px auto;
  border: 1px black solid;
  padding: 5%;
}

.learnmore-section-two {
  color: #000000;
  text-align: center;
  margin: 100px auto;
  border: 1px black solid;
  padding: 5%;
}
.learnmore-section-three {
  color: #000000;
  text-align: center;
  margin: 100px auto;
  border: 1px black solid;
  padding: 5%;
}

.learnmore-section-four {
  color: #000000;
  text-align: center;
  margin: 100px auto;
  padding: 20%;
  border: 1px black solid;
}

.learnmore-section-five{
  color: #000000;
  text-align: center;
  margin: 100px auto;
  border: 1px black solid;
  padding: 20%;
}

.learnmore-section-six {
  color: #000000;
  text-align: center;
  margin: 100px auto;
  border: 1px black solid;
  padding: 20%;
}