.learnmore-section-1 {
  background-color: transparent;
  max-width: 100%;
}

.ui.red.button {
  border-radius: 25px;
  margin-top: 30px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: nore;
  color: #ffffff;
}

.item, a:hover {
  padding-top: 45px;
  float: right;
  color: #000000;
  font-weight: normal;
}

#foot {
  background-color: #000000;
  color: #ffffff;
}

a {
  color: #000000;
}

/*    Causing an error where if you hover over the genre choice, it just move rapidly left to right    */
/*    Might need to change the properties                     */
/*.item, a:hover {*/
/*padding-top: 45px;*/
/*float: right;*/
/*color: #000000;*/
/*}*/