.ui.red.button {
  border-radius: 25px;
  padding: 5px 25px;
  font-size: 15px;
  font-weight: normal;
}

.section-1 {
  background-color: #000000;
}

#foot {
  background-color: #000000;
  color: #ffffff;
}