<template name="User_Header">
  <header id="head">
    <div class="header-section-1">
      <div class="ui borderless inverted menu">
        <a class="{{isActiveRoute " Landing_Page"}} item"
        href="{{pathFor "Landing_Page" username=routeUserName}}"><img class="ui small image" src="https://image.ibb.co/kDvj56/HEADER_LOGO.png"></a>
        <div class="right menu">
          <div class="item"><a class="{{isActiveRoute " Profile_Page"}} item" href="{{pathFor "Profile_Page"
            username=routeUserName}}">PROFILE</a>
          </div>
          <div class="item"><a class="{{isActiveRoute " Filter_Page"}} item" href="{{pathFor "Filter_Page"
            username=routeUserName}}">SEARCH</a>
          </div>
          <div class="item"><a class="{{isActiveRoute " Message_Page"}} item" href="{{pathFor "Message_Page"
            username=routeUserName}}">MESSAGES</a>
          </div>
          <div class="right aligned item">{{> Cas_Login }}</div>
        </div>
      </div>
    </div>
  </header>
</template>
