.visitor-layout-body {
  background-color: #ffffff;
  background-image: url("https://image.ibb.co/g9iRJR/PROFILE_BACKGROUND_2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#header .item a {
  color: white;
  font-size: 12px;
  font-weight: normal;
  box-shadow: none;
}

#header .item a:hover, a:active{
  color: white;
  font-size: 12px;
  font-weight: normal;
  opacity: 0.4;
  box-shadow: none;
  background-color: transparent;
}

#head .ui.borderless.inverted.menu {
  background-color: black;
  box-shadow: none;
  border-style: none;
}

#footer {
  background-color: transparent;
}
