<template name="Visitor_Header">
    <header id="head">
      <div class="ui borderless inverted menu">
        <a class="{{isActiveRoute " Landing_Page"}} item"
        href="{{pathFor "Landing_Page" username=routeUserName}}"><img class="ui small image"
                                                                      src="https://image.ibb.co/kDvj56/HEADER_LOGO.png"></a>
        <div class="right menu">
          <div id="learnmoreText" class="item"><a class="{{isActiveRoute " LearnMore_Page"}} item"
            href="{{pathFor "LearnMore_Page" username=routeUserName}}">LEARN MORE</a>
          </div>
          <div class="right aligned item">{{> Cas_Login }}</div>
        </div>
      </div>
    </header>
</template>