body {
}
  background-color: #000000;
  background-image: url("https://i.imgur.com/bfmxWx3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: auto;
}

#head .ui.borderless.inverted.menu {
  background-color: transparent;
  box-shadow: none;
  border-style: none;
}

#header .item a {
  color: white;
  font-size: 12px;
  font-weight: normal;
  box-shadow: none;
}

#header .item a:hover, a:active{
  color: white;
  font-size: 12px;
  font-weight: normal;
  opacity: 0.4;
  box-shadow: none;
  background-color: transparent;
}

#footer {
  background-color: transparent;
}
