.ui.red.button {
  border-radius: 25px;
  margin-top: 30px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: normal;
}

#form {
  color: white;
}

#foot {
  background-color: white;
  color: black;
}

.item, a:hover {
  padding-top: 45px;
  float: right;
  color: #000000;
}