<template name="Interests_Form_Field">
    <div class="{{#if required}}required{{/if}} field">
        <label>Genre Interest(s)</label>
        <select multiple="" class="ui dropdown" name="interests">
            <option value="alternative">Alternative</option>
            <option value="blues">Blues</option>
            <option value="classical">Classical</option>
            <option value="country">Country</option>
            <option value="dance">Dance</option>
            <option value="easy-listening">Easy Listening</option>
            <option value="electronics">Electronics</option>
            <option value="hiphop">Hip Hop / Rap</option>
            <option value="indiepop">Indie Pop</option>
            <option value="inspirational">Inspirational (Gospel)</option>
            <option value="asianpop">Asian Pop (J-pop, K-pop)</option>
            <option value="jazz">Jazz</option>
            <option value="latin">Latin</option>
            <option value="newage">New Age</option>
            <option value="opera">Opera</option>
            <option value="pop">Pop (Popular music)</option>
            <option value="randb">R&B / Soul</option>
            <option value="reggae">Reggae</option>
            <option value="rock">Rock</option>
            <option value="folk">Singer / Songwriter (Folk)</option>
            <option value="worldmusic">World Music / Beats</option>
        </select>
    </div>
</template>

