<template name="Interests_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Genre Interest(s)</label>
    <select multiple="{{multiple}}" class="ui dropdown" name="interests">
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Alternative</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Blues</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Classical</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Country</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Dance</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Alternative</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Blues</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Classical</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Country</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Dance</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Alternative</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Blues</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Classical</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Country</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Dance</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Easy Listening</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Electronic</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">European (Folk / Pop)</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Hip Hop / Rap</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Indie Pop</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Country</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Dance</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Easy Listening</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Electronic</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">European (Folk / Pop)</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Hip Hop / Rap</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Indie Pop</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">nspirational (Gospel)</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Asian Pop (J-pop, K-pop)</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Jazz</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Latin</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Opera</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Pop (Popular music)</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">R&B / Soul</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Reggae</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Rock</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">Singer / Songwriter (Folk)</option>
      <option value="{{#if option.value}}{{option.value}}{{else}}{{option.label}}{{/if}}"
              selected="{{option.selected}}">World Music / Beats</option>

    </select>
  </div>
</template>