.getstarted-section {
  color: #000000;
  text-align: center;
  margin: 100px auto;
  padding: 2%;
  margin: 2%;
}


.getstarted-section-2 {
  color: #ffffff;
}

.left.aligned.four.wide.column {
  padding-top: 30px;
}

.three.wide.center.aligned.column {
  padding-top: 30px;
}
