.getstarted-section {
  color: #000000;
  text-align: center;
  margin: 100px auto;
  padding: 2%;
  margin: 2%;
}


.getstarted-section-2 {
  color: #ffffff;
}

.left.aligned.four.wide.column {
  background-color: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}

.three.wide.center.aligned.column {
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #7e7e7e;
}


.ui.nine.wide.center.aligned.grid {
}